
.section-Inner {
    width: 1200px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupform {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.signupform h1 {
    text-align: center;
    padding: 10px 0;
}
.signupform .input-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.input-icon-inner .check-input.on {
    border-bottom: 2px solid red;
}
.signupform .input-inner input{
    outline: none;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #000;
}
.input-icon-inner {
    position: relative;
    width: 100%;
}
.input-check-icon {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: none;
}
.input-check-icon.show {
    display: block;
}
.bsicon {
    font-size: 15pt;
}
.bsicon-check {
    color: green;
    font-weight: bold;
    display: none;
}
.bsicon-check.on {
    display: block;
}
.bsicon-x {
    color: red;
    font-weight: bold;
    display: none;
}
.bsicon-x.on {
    display: block;
}
.signupform .input-inner input[type=date] {
    border: 1px solid #000;
    width: 100%;
    position: relative;
}
.signupform .input-inner input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: -10px;
    top: 0;
    cursor: pointer;
    transform: translateX(-10px);
    padding-left: 2900px;
    padding-right: 20px;
    padding-top: 15px;
    height: 100%;
}
.gender-Inner {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.gender-Inner div {
    display: flex;
}
.gender-Inner label {
    flex: 1;
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.submitBtn {
    background-color: #000;
    transition: 0.2s;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000;
}
.submitBtn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #aaa;
}