.songPlaylist {
    text-align: center;
    background-color: black;
    color: white;
    /*border-radius: 10px;*/
    /*width: 100px;*/
    height: 510px;
    padding: 10px;
}

.playlistName {
    margin-bottom: 10px;
}


.listHover {
    display: flex;
    width: 100%;
    height: auto;
}

.listHover span:first-child{
    flex: 0.1;
}

.listHover span:last-child {
    flex: 1;
}

.listHover:hover {
    background: #0056b3;
    border-radius: 10px;
}

.div span {

}
